.card {
  position: relative;
  color: var(--color-granite);
  width: 300px;
  border-radius: 0.8rem;
  overflow: hidden;
  background-color: var(--color-water-10);
  border: 1px solid var(--color-nemo);
}

.card__image-container {
  position: relative;
}

.card__image-gradient {
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.card__content {
  padding: 10px 20px 20px;
  display: grid;
  gap: 20px;
}

.card__image--dead {
  filter: saturate(0);
}

.card__info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 0;
}

.card__info-description {
  text-align: right;
  background-color: var(--color-water-10);
}
